<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/4_didactica_aritmetica/blob/main/modelo_general_clase_aula_invertida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Horario de docencia e investigación

In [2]:
import pandas as pd 
indices_horas_del_dia = ['8-10 AM', '10-12 AM', \
                         '2-4 PM', '4-6 PM']
lunes = ['Cálculo Vectorial', 'Cálculo Vectorial', \
         '', '']
martes = ['Fundamentos de aritmética', 'Fundamentos de aritmética', '', '']
miercoles = ['Fundamentos de lógica',\
              'Fundamentos de lógica',\
              '', '']
jueves = ['Encuentro con idalina', '', 'desarrollo del pensamiento matemático', 'desarrollo del pensamiento matemático']
viernes = [ 'desarrollo del pensamiento matemático', 'desarrollo del pensamiento matemático','','']
sabado = ['', '', '', '']
domingo = ['', '', '', '']
diccionario_horario = {'Lunes': lunes, \
                       'Martes':martes,\
                       'Miércoles':miercoles, \
                       'Jueves': jueves,\
                        'Viernes': viernes,\
                        'sabado':sabado, \
                        'domingo':domingo}

horario_2024_1 = pd.DataFrame(diccionario_horario, index = indices_horas_del_dia)
horario_2024_1

,Lunes,Martes,Miércoles,Jueves,Viernes,sabado,domingo
8-10 AM,Cálculo Vectorial,Fundamentos de aritmética,Fundamentos de lógica,Encuentro con idalina,desarrollo del pensamiento matemático,,
10-12 AM,Cálculo Vectorial,Fundamentos de aritmética,Fundamentos de lógica,,desarrollo del pensamiento matemático,,
2-4 PM,,,,desarrollo del pensamiento matemático,,,
4-6 PM,,,,desarrollo del pensamiento matemático,,,

In [1]:
# Programa para valoración cuantitativa por meses para los estudiantes de todos los cursos
import numpy as np 
import pandas as pd   

# Weights
weightAssistance = 12/100
weightAttentionParticipation = 4/100
weightTask123 = 12/100
weightJupyterNotebook = 20/100
weightQuiz = 16/100
weightPartial = 48/100

url_group = 'https://raw.githubusercontent.com/marco-canas/groups_list/main/calculo_integral.csv'

df = pd.read_csv(url_group, decimal = ',') 

df.Assistance = (df.Assistance/np.max(df.Assistance))*5.0
df.AttentionParticipation = (df.AttentionParticipation/np.max(df.AttentionParticipation))*5.0
df.Task123 = (df.Task123/np.max(df.Task123))*5.0
df.JupyterNotebook = (df.JupyterNotebook/np.max(df.JupyterNotebook))*5.0  


df['FollowUp'] = np.round(df.Assistance*weightAssistance+\
    df.AttentionParticipation*weightAttentionParticipation+\
    df.Task123*weightTask123+\
    df.JupyterNotebook*weightJupyterNotebook+\
    df.Quiz*weightQuiz+\
    df.Partial*weightPartial,1)
df[['Nombre', 'FollowUp']]

                               Nombre  FollowUp
0        AGUDELO MORENO RENATO DIRNEY       2.0
1   AMARIS FERNANDEZ SEBASTIAN CAMILO       1.9
2       ARENAS HERAZO GABRIEL ENRIQUE       2.8
3        AYALA MENDOZA MARISOL YACIRA       5.1
4          BERTEL RODELO MICHELL SMIT       2.3
5            BULA VERGARA MARIA PAULA       3.8
6             CANTILLO ENSUCHO DANIEL       4.6
7            CERVANTES DURAN ANGELICA       3.0
8         GALLEGO TEJADA JUAN ESTEBAN       2.6
9             GUERRA NORIEGA YONATHAN       3.7
10    HINCAPIE CASTRO JOHAN SEBASTIAN       2.6
11             HUMANEZ SANCHEZ CAMILO       3.5
12       IBAnEZ MORENO FRANCISCO LUIS       4.8
13  LONDONO CUADRADO CRISTIAN ALBERTO       3.2
14          MASS MIRANDA RIVALDO JOSE       1.6
15     MIRANDA MARTINEZ CARLOS ANDRES       4.7
16              MONTERROSA SOTO ABRIL       3.8
17           NORIEGA JIMENEZ GABRIELA       5.2
18             PEREZ REYES IVAN DARIO       2.3
19               PEREZ THERAN ERLINDA       2.6
20              PINEDA ROMERO YOSMERI       2.8
21         QUINONEZ CERVANTES MARIANA       3.7
22           QUIROZ DURAN JUAN MANUEL       1.5
23                 RAMOS PEREZ YANINE       4.0
24              RIVAS HOYOS ESTEFANIA       3.4
25              ROSILLO TEJADA VANESA       2.5
26          SANCHEZ PADILLA SILVESTRE       3.6
27        SILVA ROYERO MAILY CRISTINA       2.7
28          USUGA GEORGE JHON ESTIVEN       3.5

In [1]:
# revisión de tareas de los estudiantes de cálculo integral 
import numpy as np