<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/4_didactica_aritmetica/blob/main/modelo_general_clase_aula_invertida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Horario de docencia e investigación

In [3]:
import pandas as pd 
indices_horas_del_dia = ['8-10 AM', '10-12 AM', \
                         '2-4 PM', '4-6 PM']
lunes = ['pensamiento matemático', 'pensamiento matemático', \
         'calculo vectorial', 'calculo vectorial']
martes = ['English 9:30 AM - 12M', '', '', '']
miercoles = ['seminario en didáctica de la aritmética',\
              'Seminario en didáctica de la aritmética',\
              '', '']
jueves = ['calculo integral', 'calculo integral', '', '']
viernes = ['Matemáticas I', 'Matemáticas I','','']
sabado = ['', '', 'english 2-4 PM', '']
domingo = ['English 9-12 M', '', '', '']
diccionario_horario = {'Lunes': lunes, \
                       'Martes':martes,\
                       'Miércoles':miercoles, \
                       'Jueves': jueves,\
                        'Viernes': viernes,\
                            'sabado':sabado, \
                                'domingo':domingo}

horario_2024_1 = pd.DataFrame(diccionario_horario, index = indices_horas_del_dia)
horario_2024_1

,Lunes,Martes,Miércoles,Jueves,Viernes,sabado,domingo
8-10 AM,pensamiento matemático,English 9:30 AM - 12M,seminario en didáctica de la aritmética,calculo integral,Matemáticas I,,English 9-12 M
10-12 AM,pensamiento matemático,,Seminario en didáctica de la aritmética,calculo integral,Matemáticas I,,
2-4 PM,calculo vectorial,,,,,english 2-4 PM,
4-6 PM,calculo vectorial,,,,,,

In [1]:
# Programa para valoración cuantitativa por meses para los estudiantes de todos los cursos
import numpy as np 
import pandas as pd   

# Weights
weightAssistance = 12/100
weightAttentionParticipation = 8/100
weightTask123 = 8/100
weightJupyterNotebook = 20/100
weightQuiz = 16/100
weightPartial = 48/100

url_group = 'https://raw.githubusercontent.com/marco-canas/groups_list/main/seminario_didactica_aritmetica.csv'

df = pd.read_csv(url_group, decimal = ',') 

df.Assistance = (df.Assistance/np.max(df.Assistance))*5.0
df.AttentionParticipation = (df.AttentionParticipation/np.max(df.AttentionParticipation))*5.0
df.Task123 = (df.Task123/np.max(df.Task123))*5.0
df.JupyterNotebook = (df.JupyterNotebook/np.max(df.JupyterNotebook))*5.0  


df['FollowUp'] = np.round(df.Assistance*weightAssistance+\
    df.AttentionParticipation*weightAttentionParticipation+\
    df.Task123*weightTask123+\
    df.JupyterNotebook*weightJupyterNotebook+\
    df.Quiz*weightQuiz+\
    df.Partial*weightPartial,1)
df[['Nombre', 'FollowUp']]

                               Nombre  FollowUp
0                 ARIAS ARRIETA FREDY       4.2
1       BOHORQUEZ NAVARRO DINA ESTELA       2.7
2        CARDONA RAMIREZ SARA PAULINA       4.3
3             CASTANEDA REINOZA DIEGO       3.3
4             ESPEJO PEREZ LUIS DAVID       3.3
5   HERNANDEZ GUERRA FABIAN ALEJANDRO       4.4
6        LUCAS FLOREZ NAYELIS NATALIA       2.1
7        MARTINEZ MENDOZA JAIR MIGUEL       3.8
8           OCHOA ARRIETA JUAN ANDRES       1.2
9       RODRIGUEZ VERONA CARLOS MARIO       3.6
10           RUIZ CARDENAS LUIS MARIO       3.7
11         SIERRA OLIVEROS OMAR DARIO       2.7
12     SUAREZ RESTREPO MARIA ANGELICA       4.1
13             TAMAYO DE LA OSSA SARA       2.8

In [1]:
# revisión de tareas de los estudiantes de cálculo integral 
import numpy as np